name: Publish

on:
  release:
    types: [published]
  
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Setup UV
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.9.27'
        
      - name: Install dependencies
        run: uv sync --locked --group build

      - name: Build project
        run: uv run build

      - name: Publish artifacts
        uses: actions/upload-artifact@v4
        with:
          path: build/
          name: build-artifacts-${{ matrix.os }}